/* border-box*/
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Floating fix*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }

/* Clears Floating */
.clear{
	clear: both;
}

body{
    padding:0;
    margin: 0;
    background: url(3-Image_assets/bg-forplacement.jpg) no-repeat;

    background-size: 100%;

    font-family: 'Helvetica';
    font-weight: 200;
    max-width: 100%;
}

/* Headings
=============*/
h2{
    font-size: 52px;
    font-weight: 200;
}

h3{
    font-weight: 400;
}
.subheading{
    display: block;
    color: #dc3631;
}



ul{
    padding-left:0;
}

li{
    list-style: none;
}



p{
    font-size: 15px;
}

a{
    color: #29b5d3;
    text-decoration: none;

}

img{
    max-width: 100%;
    height: auto;
}

/* wrapper Section
==================*/

.wrapper{

    margin: 0 auto;
    padding:0;
    max-width: 1140px;

}

/* Main Section
===============*/

.main{
     width: 69.122807%;
     float:left;
}

.main-content{
    padding: 0 40px 0 22px;
    background: white;

}

/* Nav Section
==============*/
.nav{
    width:100%;
    padding: 10% 0 10% 0 ;
}

.logo{
    margin: 0;
    padding:0;
   float:left;
   width: 10%;
}

.nav ul{
    padding: 25px 0 0 50px;
    float:left;
    width: 50%;
}
.nav li{
    float:left;
    width: 20%;
}

/* Content Section
==================*/
.content{
    padding-right:22%;
}

.content p:first-child{
    font-size: 24px;
}

.content li{
    float:left;
    width: 33.333333%;
}



/* Sidebar Section
==================*/

.sidebar{
    float:left;
    width:30.877193%;
    background-color: rgba(0,0,0,0.7);
    padding: 0 20px 10px 20px;
    color: #ffffff;
}

.sidebar .course-photo{
    margin: 0 -20px;   
}


.sidebar h2{
    font-size: 27px;
    float:left;
    width: 80%;
    margin: 0;

    line-height: 35px;
}

.topic{
    display: block;
}

.caption{
    border-bottom: 10px solid black;
}

.begins,.month,.day{
    float:right;
    width: 20%;
    text-align: right;
    display: block;
    padding:0;
    margin:0;
}


.begins,.year{
    font-size: 10px;

}

.day{
    font-size: 38px;
}
.month{
    font-size: 20px;
}

.location{
    float: left;
    width: 50%;
}

.year{
    float:right;
    clear:both;
    width: 50%;
    text-align: right;
}


/* Instructor info */
.sidebar .instructor-info img{
    float:left;
    padding-right: 10px;
}

.sidebar .instructor-info .test{
    float:left;

}

.sidebar h4{
    margin:0;
}

.sidebar .instructor-info ul{
    margin:0;
    padding:0;
}


.sidebar .contactus h2{
    font-size: 38px;
    margin: 0;
    padding: 0;
}

.sidebar .contactus li{
    text-align: left;
    clear:both;
}






/* Footer Section
=================*/
.footer{
    
    background-color: rgba(0,0,0,0.7);
    color:white;
}


/* Responsive Design
==================*/

/* scaling the background image */
@media all and (max-width: 1600px) {
   body{
    background-size: auto;
    }
}


@media all and (max-width: 900px) {
    /* getting rid of side by side view
       on instructor info and aligning
       everything to the center
       except for the caption.
    */
    .sidebar .instructor-info .test{
        float: none;
    }

        .sidebar .instructor-info img{
        float: none;
    }

    .sidebar{
        text-align: center;
    }

    .sidebar .caption{
        text-align: left;
    }

}

@media all and (max-width:850px){
    .begins,.month,.day,.year,.location{
        float:none;
        display: inline-block;
    }


    .begins{
        display: none;
    }

    .caption h2{
        width: 100%;
    }


}