/* border-box*/
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Floating fix*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }

/* Clears Floating */
.clear{
	clear: both;
}

body{
    padding:0;
    margin: 0;
    background: url(3-Image_assets/bg-forplacement.jpg) no-repeat;
    background-position:center;

    font-family: 'Helvetica';
    font-weight: 200;
}

/* Headings
=============*/
h2{
    font-size: 54px;
    font-weight: 200;
}

h3{
    font-weight: 400;
}
.subheading{
    display: block;
    color: #dc3631;
}



ul{
    padding-left:0;
}

li{
    list-style: none;
}

.external-link{
    color: #29b5d3;
}

/* wrapper Section
==================*/

.wrapper{

    margin: 0 auto;
    padding:0;
    max-width: 1140px;

}

/* Main Section
===============*/

.main{
    padding: 0 40px 0 22px;
    background: white;
    width: 69.122807%;
    float:left;
}

/* Nav Section
==============*/
.nav{
    width:100%;
    padding: 10% 0 10% 0 ;
}

.logo{
    margin: 0;
    padding:0;
   float:left;
   width: 10%;
}

.nav ul{
    padding: 25px 0 0 50px;
    float:left;
    width: 50%;
}
.nav li{
    float:left;
    width: 20%;
}

/* Content Section
==================*/
.content{
    padding-right:22%;
}

.content p:first-child{
    font-size: 24px;
}

.content li{
    float:left;
    width: 33.333333%;
}



/* Sidebar Section
==================*/

.sidebar{
    float:left;
    width:30.877193%;
    background: green;
}

/* Footer Section
=================*/
.footer{
    background: black;
    color:white;
}

